* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changelog {
  border: 3px solid black;
  height: 70%;
  width: 35%;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #888888;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  color: rgb(48, 48, 51);
}

.center {
  text-align: center;
}

.light {
  color: rgb(156, 156, 156);
}

.dark {
  color: rgb(49, 49, 49);
}

.sub {
  margin: 50px 10px;
}

.bigbox {
  margin-top: 40px;
  width: 100%;
  display: flex;
}

.subtitle {
  margin-top: 20px;
}

.left {
  text-align: right;
  padding-right: 10px;
  width: 35%;
}

.right {
  padding-left: 10px;
  width: 65%;
  border-left: 3px solid black;
}

.button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(49, 49, 49);
  color: white;
}

.button1 {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  margin: 48px 0px;
  transform: translate(12px, 0);
}
